# Python Numerical Tools

## 1. numpy

(adapted from Scipy Org's numpy "Quickstart tutorial":
https://docs.scipy.org/doc/numpy/user/quickstart.html)

### Basics
#### An example

In [1]:
import numpy as np

In [2]:
a = np.arange(15).reshape(3, 5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [4]:
a.shape

(3, 5)

In [5]:
a.ndim

2

In [10]:
a.dtype

dtype('int32')

In [11]:
a.dtype.name

'int32'

In [9]:
# the size in bytes of each element of the array
a.itemsize

4

In [8]:
a.size

15

In [12]:
type(a)

numpy.ndarray

In [13]:
b = np.array([6, 7, 8])
b

array([6, 7, 8])

In [14]:
type(b)

numpy.ndarray

#### Array Creation

In [16]:
# numpy array can be created from a regular Python list or tuple using the array function. 
# The type of the resulting array is deduced from the type of the elements in the sequences.
a = np.array((2,3,4))
a

array([2, 3, 4])

In [17]:
a.dtype

dtype('int32')

In [18]:
b = np.array([1.2, 3.5, 5.1])
b.dtype

dtype('float64')

In [20]:
# A frequent error consists in calling array with multiple numeric arguments, 
# rather than providing a single list of numbers as an argument.
a = np.array(1,2,3,4)    # ValueError

ValueError: only 2 non-keyword arguments accepted

In [21]:
# array transforms sequences of sequences into two-dimensional arrays, 
# sequences of sequences of sequences into three-dimensional arrays, and so on.
b = np.array([(1.5,2,3), (4,5,6)])
b

array([[1.5, 2. , 3. ],
       [4. , 5. , 6. ]])

In [22]:
# The type of the array can also be explicitly specified at creation time:
c = np.array( [ [1,2], [3,4] ], dtype=complex )
c

array([[1.+0.j, 2.+0.j],
       [3.+0.j, 4.+0.j]])

In [23]:
# NumPy offers several functions to create arrays with initial placeholder content. 
# These minimize the necessity of growing arrays, an expensive operation

# By default, the dtype of the created array is float64.
np.zeros( (3,4) )

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [24]:
np.ones( (2,3,4), dtype=np.int16 )                # dtype can also be specified

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int16)

In [25]:
np.empty( (2,3) )                                 # uninitialized, output may vary

array([[1.5, 2. , 3. ],
       [4. , 5. , 6. ]])

In [26]:
# To create sequences of numbers, NumPy provides a function analogous to range that returns arrays instead of lists.
np.arange( 10, 30, 5 )

array([10, 15, 20, 25])

In [27]:
np.arange( 0, 2, 0.3 )                 # it accepts float arguments

array([0. , 0.3, 0.6, 0.9, 1.2, 1.5, 1.8])

In [28]:
"""
When arange is used with floating point arguments, it is generally not possible to predict 
the number of elements obtained, due to the finite floating point precision. 
For this reason, it is usually better to use the function linspace that receives as an argument 
the number of elements that we want, instead of the step:
"""
np.linspace( 0, 2, 9 )                 # 9 numbers from 0 to 2

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

In [30]:
from numpy import pi
x = np.linspace( 0, 2*pi, 100 )        # useful to evaluate function at lots of points
f = np.sin(x)
f[90:]

array([-5.40640817e-01, -4.86196736e-01, -4.29794912e-01, -3.71662456e-01,
       -3.12033446e-01, -2.51147987e-01, -1.89251244e-01, -1.26592454e-01,
       -6.34239197e-02, -2.44929360e-16])

#### Printing Arrays

In [31]:
"""
When you print an array, NumPy displays it in a similar way to nested lists, but with the following layout:
the last axis is printed from left to right,
the second-to-last is printed from top to bottom,
the rest are also printed from top to bottom, with each slice separated from the next by an empty line.
One-dimensional arrays are then printed as rows, bidimensionals as matrices and tridimensionals as lists of matrices.
"""
a = np.arange(6)                         # 1d array
print(a)

[0 1 2 3 4 5]

In [32]:
np.arange(12).reshape(4,3)           # 2d array
print(b)

[[1.5 2.  3. ]
 [4.  5.  6. ]]

In [33]:
c = np.arange(24).reshape(2,3,4)         # 3d array
print(c)

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]

In [39]:
# If an array is too large to be printed, NumPy automatically skips the central part of the array and only prints the corners:
print(np.arange(1600))

[   0    1    2 ... 1597 1598 1599]

In [40]:
print(np.arange(1600).reshape(40,40))

[[   0    1    2 ...   37   38   39]
 [  40   41   42 ...   77   78   79]
 [  80   81   82 ...  117  118  119]
 ...
 [1480 1481 1482 ... 1517 1518 1519]
 [1520 1521 1522 ... 1557 1558 1559]
 [1560 1561 1562 ... 1597 1598 1599]]

In [41]:
# To disable this behaviour and force NumPy to print the entire array, you can change the printing options using set_printoptions.
np.set_printoptions(threshold=np.nan)
print(np.arange(1600).reshape(40,40))

[[   0    1    2    3    4    5    6    7    8    9   10   11   12   13
    14   15   16   17   18   19   20   21   22   23   24   25   26   27
    28   29   30   31   32   33   34   35   36   37   38   39]
 [  40   41   42   43   44   45   46   47   48   49   50   51   52   53
    54   55   56   57   58   59   60   61   62   63   64   65   66   67
    68   69   70   71   72   73   74   75   76   77   78   79]
 [  80   81   82   83   84   85   86   87   88   89   90   91   92   93
    94   95   96   97   98   99  100  101  102  103  104  105  106  107
   108  109  110  111  112  113  114  115  116  117  118  119]
 [ 120  121  122  123  124  125  126  127  128  129  130  131  132  133
   134  135  136  137  138  139  140  141  142  143  144  145  146  147
   148  149  150  151  152  153  154  155  156  157  158  159]
 [ 160  161  162  163  164  165  166  167  168  169  170  171  172  173
   174  175  176  177  178  179  180  181  182  183  184  185  186  187
   188  189  190  191  192  193  194  195  196  197  198  199]
 [ 200  201  202  203  204  205  206  207  208  209  210  211  212  213
   214  215  216  217  218  219  220  221  222  223  224  225  226  227
   228  229  230  231  232  233  234  235  236  237  238  239]
 [ 240  241  242  243  244  245  246  247  248  249  250  251  252  253
   254  255  256  257  258  259  260  261  262  263  264  265  266  267
   268  269  270  271  272  273  274  275  276  277  278  279]
 [ 280  281  282  283  284  285  286  287  288  289  290  291  292  293
   294  295  296  297  298  299  300  301  302  303  304  305  306  307
   308  309  310  311  312  313  314  315  316  317  318  319]
 [ 320  321  322  323  324  325  326  327  328  329  330  331  332  333
   334  335  336  337  338  339  340  341  342  343  344  345  346  347
   348  349  350  351  352  353  354  355  356  357  358  359]
 [ 360  361  362  363  364  365  366  367  368  369  370  371  372  373
   374  375  376  377  378  379  380  381  382  383  384  385  386  387
   388  389  390  391  392  393  394  395  396  397  398  399]
 [ 400  401  402  403  404  405  406  407  408  409  410  411  412  413
   414  415  416  417  418  419  420  421  422  423  424  425  426  427
   428  429  430  431  432  433  434  435  436  437  438  439]
 [ 440  441  442  443  444  445  446  447  448  449  450  451  452  453
   454  455  456  457  458  459  460  461  462  463  464  465  466  467
   468  469  470  471  472  473  474  475  476  477  478  479]
 [ 480  481  482  483  484  485  486  487  488  489  490  491  492  493
   494  495  496  497  498  499  500  501  502  503  504  505  506  507
   508  509  510  511  512  513  514  515  516  517  518  519]
 [ 520  521  522  523  524  525  526  527  528  529  530  531  532  533
   534  535  536  537  538  539  540  541  542  543  544  545  546  547
   548  549  550  551  552  553  554  555  556  557  558  559]
 [ 560  561  562  563  564  565  566  567  568  569  570  571  572  573
   574  575  576  577  578  579  580  581  582  583  584  585  586  587
   588  589  590  591  592  593  594  595  596  597  598  599]
 [ 600  601  602  603  604  605  606  607  608  609  610  611  612  613
   614  615  616  617  618  619  620  621  622  623  624  625  626  627
   628  629  630  631  632  633  634  635  636  637  638  639]
 [ 640  641  642  643  644  645  646  647  648  649  650  651  652  653
   654  655  656  657  658  659  660  661  662  663  664  665  666  667
   668  669  670  671  672  673  674  675  676  677  678  679]
 [ 680  681  682  683  684  685  686  687  688  689  690  691  692  693
   694  695  696  697  698  699  700  701  702  703  704  705  706  707
   708  709  710  711  712  713  714  715  716  717  718  719]
 [ 720  721  722  723  724  725  726  727  728  729  730  731  732  733
   734  735  736  737  738  739  740  741  742  743  744  745  746  747
   748  749  750  751  752  753  754  755  756  757  758  759]
 [ 760  761  762  763  764  765  766  767  768  769  770  771  772  773
   774  775  776  777  778  779  780  781  782  783  784  785  786  787
   788  789  790  791  792  793  794  795  796  797  798  799]
 [ 800  801  802  803  804  805  806  807  808  809  810  811  812  813
   814  815  816  817  818  819  820  821  822  823  824  825  826  827
   828  829  830  831  832  833  834  835  836  837  838  839]
 [ 840  841  842  843  844  845  846  847  848  849  850  851  852  853
   854  855  856  857  858  859  860  861  862  863  864  865  866  867
   868  869  870  871  872  873  874  875  876  877  878  879]
 [ 880  881  882  883  884  885  886  887  888  889  890  891  892  893
   894  895  896  897  898  899  900  901  902  903  904  905  906  907
   908  909  910  911  912  913  914  915  916  917  918  919]
 [ 920  921  922  923  924  925  926  927  928  929  930  931  932  933
   934  935  936  937  938  939  940  941  942  943  944  945  946  947
   948  949  950  951  952  953  954  955  956  957  958  959]
 [ 960  961  962  963  964  965  966  967  968  969  970  971  972  973
   974  975  976  977  978  979  980  981  982  983  984  985  986  987
   988  989  990  991  992  993  994  995  996  997  998  999]
 [1000 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013
  1014 1015 1016 1017 1018 1019 1020 1021 1022 1023 1024 1025 1026 1027
  1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039]
 [1040 1041 1042 1043 1044 1045 1046 1047 1048 1049 1050 1051 1052 1053
  1054 1055 1056 1057 1058 1059 1060 1061 1062 1063 1064 1065 1066 1067
  1068 1069 1070 1071 1072 1073 1074 1075 1076 1077 1078 1079]
 [1080 1081 1082 1083 1084 1085 1086 1087 1088 1089 1090 1091 1092 1093
  1094 1095 1096 1097 1098 1099 1100 1101 1102 1103 1104 1105 1106 1107
  1108 1109 1110 1111 1112 1113 1114 1115 1116 1117 1118 1119]
 [1120 1121 1122 1123 1124 1125 1126 1127 1128 1129 1130 1131 1132 1133
  1134 1135 1136 1137 1138 1139 1140 1141 1142 1143 1144 1145 1146 1147
  1148 1149 1150 1151 1152 1153 1154 1155 1156 1157 1158 1159]
 [1160 1161 1162 1163 1164 1165 1166 1167 1168 1169 1170 1171 1172 1173
  1174 1175 1176 1177 1178 1179 1180 1181 1182 1183 1184 1185 1186 1187
  1188 1189 1190 1191 1192 1193 1194 1195 1196 1197 1198 1199]
 [1200 1201 1202 1203 1204 1205 1206 1207 1208 1209 1210 1211 1212 1213
  1214 1215 1216 1217 1218 1219 1220 1221 1222 1223 1224 1225 1226 1227
  1228 1229 1230 1231 1232 1233 1234 1235 1236 1237 1238 1239]
 [1240 1241 1242 1243 1244 1245 1246 1247 1248 1249 1250 1251 1252 1253
  1254 1255 1256 1257 1258 1259 1260 1261 1262 1263 1264 1265 1266 1267
  1268 1269 1270 1271 1272 1273 1274 1275 1276 1277 1278 1279]
 [1280 1281 1282 1283 1284 1285 1286 1287 1288 1289 1290 1291 1292 1293
  1294 1295 1296 1297 1298 1299 1300 1301 1302 1303 1304 1305 1306 1307
  1308 1309 1310 1311 1312 1313 1314 1315 1316 1317 1318 1319]
 [1320 1321 1322 1323 1324 1325 1326 1327 1328 1329 1330 1331 1332 1333
  1334 1335 1336 1337 1338 1339 1340 1341 1342 1343 1344 1345 1346 1347
  1348 1349 1350 1351 1352 1353 1354 1355 1356 1357 1358 1359]
 [1360 1361 1362 1363 1364 1365 1366 1367 1368 1369 1370 1371 1372 1373
  1374 1375 1376 1377 1378 1379 1380 1381 1382 1383 1384 1385 1386 1387
  1388 1389 1390 1391 1392 1393 1394 1395 1396 1397 1398 1399]
 [1400 1401 1402 1403 1404 1405 1406 1407 1408 1409 1410 1411 1412 1413
  1414 1415 1416 1417 1418 1419 1420 1421 1422 1423 1424 1425 1426 1427
  1428 1429 1430 1431 1432 1433 1434 1435 1436 1437 1438 1439]
 [1440 1441 1442 1443 1444 1445 1446 1447 1448 1449 1450 1451 1452 1453
  1454 1455 1456 1457 1458 1459 1460 1461 1462 1463 1464 1465 1466 1467
  1468 1469 1470 1471 1472 1473 1474 1475 1476 1477 1478 1479]
 [1480 1481 1482 1483 1484 1485 1486 1487 1488 1489 1490 1491 1492 1493
  1494 1495 1496 1497 1498 1499 1500 1501 1502 1503 1504 1505 1506 1507
  1508 1509 1510 1511 1512 1513 1514 1515 1516 1517 1518 1519]
 [1520 1521 1522 1523 1524 1525 1526 1527 1528 1529 1530 1531 1532 1533
  1534 1535 1536 1537 1538 1539 1540 1541 1542 1543 1544 1545 1546 1547
  1548 1549 1550 1551 1552 1553 1554 1555 1556 1557 1558 1559]
 [1560 1561 1562 1563 1564 1565 1566 1567 1568 1569 1570 1571 1572 1573
  1574 1575 1576 1577 1578 1579 1580 1581 1582 1583 1584 1585 1586 1587
  1588 1589 1590 1591 1592 1593 1594 1595 1596 1597 1598 1599]]

#### Basic Operations

In [42]:
# Arithmetic operators on arrays apply elementwise. A new array is created and filled with the result.
a = np.array( [20,30,40,50] )
b = np.arange( 4 )
c = a-b
c

array([20, 29, 38, 47])

In [43]:
b**2

array([0, 1, 4, 9], dtype=int32)

In [44]:
10*np.sin(a)

array([ 9.12945251, -9.88031624,  7.4511316 , -2.62374854])

In [45]:
a<35

array([ True,  True, False, False])

In [46]:
# Unlike in many matrix languages, the product operator * operates elementwise in NumPy arrays. The matrix product can be performed using the @ operator (in python >=3.5) or the dot function or method:
A = np.array( [[1,1],
             [0,1]] )
B = np.array( [[2,0],
             [3,4]] )
A * B                       # elementwise product

array([[2, 0],
       [0, 4]])

In [47]:
A @ B                       # matrix product

array([[5, 4],
       [3, 4]])

In [48]:
A.dot(B)                    # another matrix product

array([[5, 4],
       [3, 4]])

In [49]:
# Some operations, such as += and *=, act in place to modify an existing array rather than create a new one.
a = np.ones((2,3), dtype=int)
b = np.random.random((2,3))
a *= 3
a

array([[3, 3, 3],
       [3, 3, 3]])

In [50]:
b += a
b

array([[3.42413012, 3.06457523, 3.94516152],
       [3.16436651, 3.65183554, 3.53624082]])

In [51]:
a += b                  # b is not automatically converted to integer type

TypeError: Cannot cast ufunc add output from dtype('float64') to dtype('int32') with casting rule 'same_kind'

In [52]:
# When operating with arrays of different types, the type of the resulting array corresponds to the more general or precise one (a behavior known as upcasting).
a = np.ones(3, dtype=np.int32)
b = np.linspace(0,pi,3)
b.dtype.name

'float64'

In [53]:
c = a+b
c

array([1.        , 2.57079633, 4.14159265])

In [54]:
c.dtype.name

'float64'

In [56]:
d = np.exp(c*1j)
d.dtype.name

'complex128'

In [57]:
# Many unary operations, such as computing the sum of all the elements in the array, are implemented as methods of the ndarray class.
a = np.random.random((2,3))
a

array([[0.68183367, 0.38492218, 0.65490731],
       [0.73887591, 0.3667055 , 0.87385198]])

In [58]:
a.sum()

3.7010965509698632

In [59]:
a.min()

0.3667055042497177

In [60]:
a.max()

0.8738519789903887

In [61]:
# By default, these operations apply to the array as though it were a list of numbers, regardless of its shape. 
# However, by specifying the axis parameter you can apply an operation along the specified axis of an array:
b = np.arange(12).reshape(3,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [62]:
b.sum(axis=0)                            # sum of each column

array([12, 15, 18, 21])

In [63]:
b.min(axis=1)                            # min of each row

array([0, 4, 8])

In [64]:
b.cumsum(axis=1)                         # cumulative sum along each row

array([[ 0,  1,  3,  6],
       [ 4,  9, 15, 22],
       [ 8, 17, 27, 38]], dtype=int32)

#### Universal Functions

In [65]:
# NumPy provides familiar mathematical functions such as sin, cos, and exp. In NumPy, 
# these are called “universal functions”(ufunc). Within NumPy, 
# these functions operate elementwise on an array, producing an array as output.
B = np.arange(3)
B

array([0, 1, 2])

In [66]:
np.exp(B)

array([1.        , 2.71828183, 7.3890561 ])

In [67]:
np.sqrt(B)

array([0.        , 1.        , 1.41421356])

In [68]:
C = np.array([2., -1., 4.])
np.add(B, C)

array([2., 0., 6.])

#### Indexing, Slicing and Iterating

In [69]:
# One-dimensional arrays can be indexed, sliced and iterated over, much like lists and other Python sequences.
a = np.arange(10)**3
a

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729], dtype=int32)

In [70]:
a[2]

8

In [71]:
a[2:5]

array([ 8, 27, 64], dtype=int32)

In [72]:
a[:6:2] = -1000    # equivalent to a[0:6:2] = -1000; from start to position 6, exclusive, set every 2nd element to -1000
a

array([-1000,     1, -1000,    27, -1000,   125,   216,   343,   512,
         729], dtype=int32)

In [73]:
a[ : :-1]                                 # reversed a
for i in a:
     print(i**(1/3.))

nan
1.0
nan
3.0
nan
5.0
5.999999999999999
6.999999999999999
7.999999999999999
8.999999999999998

C:\Users\zhyin2\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in power
  This is separate from the ipykernel package so we can avoid doing imports until

In [74]:
# Multidimensional arrays can have one index per axis. These indices are given in a tuple separated by commas:
def f(x,y):
    return 10*x+y
b = np.fromfunction(f,(5,4),dtype=int)
b

array([[ 0,  1,  2,  3],
       [10, 11, 12, 13],
       [20, 21, 22, 23],
       [30, 31, 32, 33],
       [40, 41, 42, 43]])

In [75]:
b[2,3]

23

In [76]:
b[0:5, 1]                       # each row in the second column of b

array([ 1, 11, 21, 31, 41])

In [77]:
b[ : ,1]                        # equivalent to the previous example

array([ 1, 11, 21, 31, 41])

In [78]:
b[1:3, : ]                      # each column in the second and third row of b

array([[10, 11, 12, 13],
       [20, 21, 22, 23]])

In [79]:
# When fewer indices are provided than the number of axes, the missing indices are considered complete slices:
b[-1]

array([40, 41, 42, 43])

In [80]:
# The expression within brackets in b[i] is treated as an i followed by as many instances of : as needed to represent the remaining axes.
# NumPy also allows you to write this using dots as b[i,...].
c = np.array( [[[  0,  1,  2],               # a 3D array (two stacked 2D arrays)
                [ 10, 12, 13]],
                [[100,101,102],
                [110,112,113]]])
c.shape
(2, 2, 3)

(2, 2, 3)

In [81]:
c[1,...]                                   # same as c[1,:,:] or c[1]

array([[100, 101, 102],
       [110, 112, 113]])

In [82]:
c[...,2]                                   # same as c[:,:,2]

array([[  2,  13],
       [102, 113]])

In [83]:
# Iterating over multidimensional arrays is done with respect to the first axis:
for row in b:
    print(row)

[0 1 2 3]
[10 11 12 13]
[20 21 22 23]
[30 31 32 33]
[40 41 42 43]

In [84]:
# However, if one wants to perform an operation on each element in the array, 
# one can use the flat attribute which is an iterator over all the elements of the array:
for element in b.flat:
    print(element)

0
1
2
3
10
11
12
13
20
21
22
23
30
31
32
33
40
41
42
43

### Shape Manipulation
#### Changing the shape of an array