# Learning Python Basics using Jupyter Notebook
(Adapted from Louie Dinh's doc: https://learnxinyminutes.com/docs/python3)

## 2. Variables and Collections

In [1]:
# Python has a print function
print("I'm Python. Nice to meet you!")

I'm Python. Nice to meet you!

In [2]:
# By default the print function also prints out a newline at the end.
# Use the optional argument end to change the end string.
print("Hello, World", end="!")

Hello, World!

In [3]:
# Simple way to get input data from console
# Note: In earlier versions of Python, input() method was named as raw_input()
input_string_var = input("Enter some data: ")

Enter some data: 你好

In [4]:
input_string_var

'你好'

In [5]:
# There are no declarations, only assignments.
# Convention is to use lower_case_with_underscores, cannot start with a number
some_var = 5
some_var

5

In [6]:
# Accessing a previously unassigned variable is an exception.
# See Control Flow to learn more about exception handling.
some_unknown_var

NameError: name 'some_unknown_var' is not defined

In [9]:
# if can be used as an expression
# Equivalent of C's '?:' ternary operator
"yahoo!" if 3 in [2,4] else "google"

'google'

In [21]:
# Lists store sequences
li = []
# You can also start with a prefilled list
other_li = [4, 5, 6]
print("li={}, other_li={}".format(li, other_li))

li=[], other_li=[4, 5, 6]

In [22]:
# Add stuff to the end of a list with append
li.append(1)

In [23]:
# li is now [1]
li.append(2)    # li is now [1, 2]
li.append(4)    # li is now [1, 2, 4]
li.append(3)    # li is now [1, 2, 4, 3]
li

[1, 2, 4, 3]

In [24]:
# Remove from the end with pop
li.pop()

3

In [25]:
li

[1, 2, 4]

In [26]:
# Let's put it back
li.append(3)
li

[1, 2, 4, 3]

In [73]:
li

[1, 2, 3, 4, 4, 5, 6]

In [74]:
li[0], li[-1] = li[-1], li[0]
li

[6, 2, 3, 4, 4, 5, 1]

In [31]:
# Access a list like you would any array
li[0]

1

In [32]:
# Look at the last element
li[-1]

4

In [33]:
# Looking out of bounds is an IndexError
li[4]

IndexError: list index out of range

In [34]:
# You can look at ranges with slice syntax.
# The start index is included, the end index is not
# (It's a closed/open range for you mathy types.)
li[1:3]

[3, 2]

In [35]:
# Omit the beginning part of the list and return the list
li[2:]

[2, 4]

In [36]:
# Omit the end part of the list and return the list
li[:3]

[1, 3, 2]

In [37]:
# Select every second entry
li[::2]

[1, 2]

In [38]:
# Return a reversed copy of the list
li[::-1]

[4, 2, 3, 1]

In [39]:
# Use any combination of these to make advanced slices
# li[start:end:step]

In [40]:
# Make a one layer deep copy using slices
li2 = li[:]  # => li2 = [1, 2, 4, 3] but (li2 is li) will result in false.

In [41]:
# Remove arbitrary elements from a list with "del"
del li[2]
li

[1, 3, 4]

In [42]:
# Remove first occurrence of a value
li.remove(2)
li

ValueError: list.remove(x): x not in list

In [43]:
li.remove(2)  # Raises a ValueError as 2 is not in the list

ValueError: list.remove(x): x not in list

In [44]:
# Insert an element at a specific index with a value
li.insert(1, 2)

In [45]:
li

[1, 2, 3, 4]

In [46]:
# Get the index of the first item found matching the argument
li.index(2)

1

In [47]:
li.index(4)  # Raises a ValueError as 4 is not in the list

3

In [48]:
# You can add lists
# Note: values for li and for other_li are not modified.
li + other_li

[1, 2, 3, 4, 4, 5, 6]

In [49]:
# Concatenate lists with "extend()"
li.extend(other_li)

In [50]:
li

[1, 2, 3, 4, 4, 5, 6]

In [51]:
# Check for existence in a list with "in"
1 in li

True

In [52]:
# Examine the length with "len()"
len(li)

7

In [54]:
# Tuples are like lists but are immutable (cannot change value).
tup = (1, 2, 3)
tup[0]

1

In [55]:
tup[0] = 3  # Raises a TypeError

TypeError: 'tuple' object does not support item assignment

In [58]:
# Note that a tuple of length one has to have a comma after the last element but
# tuples of other lengths, even zero, do not.
type((1))

int

In [59]:
type((1,))

tuple

In [60]:
type(())

tuple

In [61]:
# You can do most of the list operations on tuples too
len(tup)

3

In [62]:
tup + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [63]:
tup[:2]

(1, 2)

In [64]:
2 in tup

True

In [65]:
# You can unpack tuples (or lists) into variables
a, b, c = (1, 2, 3)
print("a={}, b={}, c={}".format(a, b, c))

a=1, b=2, c=3

In [70]:
# You can also do extended unpacking
a, *b, c = (1, 2, 3, 4, 5)
print("a={}, b={}, c={}".format(a, b, c))

a=1, b=[2, 3, 4], c=5

In [71]:
# Tuples are created by default if you leave out the parentheses
d, e, f = 4, 5, 6
print("d={}, e={}, f={}".format(d, e, f))

d=4, e=5, f=6

In [72]:
# Now look how easy it is to swap two values
e, d = d, e
print("d={}, e={}".format(d, e))

d=5, e=4

In [78]:
# Dictionaries store mappings from keys to values
empty_dict = {}
# Here is a prefilled dictionary
filled_dict = {"one": 1, "two": 2, "three": 3}

In [79]:
# Note keys for dictionaries have to be immutable types. This is to ensure that
# the key can be converted to a constant hash value for quick look-ups.
# Immutable types include ints, floats, strings, tuples.
invalid_dict = {[1,2,3]: "123"}  # => Raises a TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

In [80]:
valid_dict = {(1,2,3):[1,2,3]}   # Values can be of any type, however.

In [81]:
# Look up values with []
filled_dict["one"]

1

In [97]:
# Get all keys as an iterable with "keys()". We need to wrap the call in list()
# to turn it into a list. We'll talk about those later.  Note - for Python
# versions <3.7, dictionary key ordering is not guaranteed. Your results might
# not match the example below exactly. However, as of Python 3.7, dictionary
# items maintain the order at which they are inserted into the dictionary.
list(filled_dict.keys())

['one', 'two', 'three', 'five', 'four']

In [83]:
# Get all values as an iterable with "values()". Once again we need to wrap it
# in list() to get it out of the iterable. Note - Same as above regarding key
# ordering.
list(filled_dict.values())

[1, 2, 3]

In [84]:
# Check for existence of keys in a dictionary with "in"
"one" in filled_dict

True

In [85]:
1 in filled_dict

False

In [86]:
# Looking up a non-existing key is a KeyError
filled_dict["four"]

KeyError: 'four'

In [87]:
# Use "get()" method to avoid the KeyError
filled_dict.get("one")

1

In [88]:
filled_dict.get("four")

In [89]:
# The get method supports a default argument when the value is missing
filled_dict.get("one", 4)

1

In [90]:
filled_dict.get("four", 4)

4

In [91]:
# "setdefault()" inserts into a dictionary only if the given key isn't present
filled_dict.setdefault("five", 5) # filled_dict["five"] is set to 5

5

In [92]:
filled_dict.setdefault("five", 6) # filled_dict["five"] is still 5

5

In [98]:
# Adding to a dictionary
filled_dict.update({"four":4})
filled_dict

{'one': 1, 'two': 2, 'three': 3, 'five': 5, 'four': 4}

In [100]:
# another way to add to dict
filled_dict["six"] = 6
filled_dict

{'one': 1, 'two': 2, 'three': 3, 'five': 5, 'four': 4, 'six': 6}

In [101]:
# Remove keys from a dictionary with del
del filled_dict["one"]

In [102]:
filled_dict

{'two': 2, 'three': 3, 'five': 5, 'four': 4, 'six': 6}

In [103]:
# From Python 3.5 you can also use the additional unpacking options
{'a': 1, **{'b': 2}}

{'a': 1, 'b': 2}

In [104]:
{'a': 1, **{'a': 2}}

{'a': 2}

In [105]:
# Sets
empty_set = set()
# Initialize a set with a bunch of values. Yeah, it looks a bit like a dict. Sorry.
some_set = {1, 1, 2, 2, 3, 4}

In [106]:
# Similar to keys of a dictionary, elements of a set have to be immutable.
invalid_set = {[1], 1}

TypeError: unhashable type: 'list'

In [107]:
valid_set = {(1,), 1}

In [108]:
# Add one more item to the set
filled_set = some_set
filled_set.add(5)
filled_set

{1, 2, 3, 4, 5}

In [109]:
# Sets do not have duplicate elements
filled_set.add(5)
filled_set

{1, 2, 3, 4, 5}

In [110]:
# Do set intersection with &
other_set = {3, 4, 5, 6}
filled_set & other_set

{3, 4, 5}

In [111]:
# Do set union with |
filled_set | other_set

{1, 2, 3, 4, 5, 6}

In [112]:
# Do set difference with -
{1, 2, 3, 4} - {2, 3, 5}

{1, 4}

In [114]:
# Do set symmetric difference with ^
{1, 2, 3, 4} ^ {2, 3, 5}

{1, 4, 5}

In [115]:
# Check if set on the left is a superset of set on the right
{1, 2} >= {1, 2, 3}

False

In [116]:
# Check if set on the left is a subset of set on the right
{1, 2} <= {1, 2, 3}

True

In [117]:
# Check for existence in a set with in
2 in filled_set

True

In [118]:
10 in filled_set

False